.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cart{
  border: 10px solid rgb(3, 3, 3);
  width: 80%;
  padding: 20px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 20px;
  margin: auto;

}
.cart .cart-wrapper{
  border: 2px solid gray;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  

}

.img-wrapper
{
  /* border: 2px solid gray; */
  width: 100px;
  height: 100px;
  padding: 10px;


}

.img-wrapper img{
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.btn-wrapper button{
  background-color: orangered;
  color: white;
  font-weight: 600;
  box-shadow: 2px 2px 2px gray;
  /* position: absolute; */
  left: 150px;
  top: 30px;
}

.add-to-cart{
  position: absolute;
  right: 0;
  top: 0;
}
.add-to-cart img{
  width: 70px;
}
.cart-counter{
  background-color: red;
}